<nav class="navbar sticky-top navbar-expand-md bg-body-tertiary">
  <div class="container-fluid">
    <a href="#/sw/movies" class="navbar-brand ">Star Wars</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">

      </ul>
      <!-- <div class="d-flex" role="search">
        <input class="form-control me-2 shadow-none" #search type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success shadow-none" (click)="onSearch(search.value)" type="button">Search</button>
      </div> -->
    </div>
  </div>
</nav>
