<ng-container *ngIf="data$ | async as response">
    <div class="container mt-3 mt-md-5">
        <div class="row">
            <div class="col-md-4">
                <div class="text-center">
                    <img
                        src="assets/images/default-image.jpg"
                        class="rounded float-start film-placeholder-icon"
                    />
                </div>
            </div>
            <div class="col-md-8">
                <h1 class="mt-3 mt-md-0" id="name">{{response.data?.name}}</h1>
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <label class="text-muted">Date of birth</label>
                        <h5 id="birth_year">{{ response?.data?.birth_year }}</h5>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <label class="text-muted">Gender</label>
                        <h5 id="gender">{{ response?.data?.gender }}</h5>
                    </div>

                    <div class="col-sm-6 col-md-6">
                        <label class="text-muted">Height</label>
                        <h5 id="height">{{ response?.data?.height }}</h5>
                    </div>

                    <div class="col-sm-6 col-md-6">
                        <label class="text-muted">Mass</label>
                        <h5 id="mass">{{ response?.data?.mass }}</h5>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <label class="text-muted">Hair Color</label>
                        <h5 id="hair_color">{{ response?.data?.hair_color }}</h5>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <label class="text-muted">Skin Color</label>
                        <h5 id="skin_color">{{ response?.data?.skin_color }}</h5>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <label class="text-muted">Eye Color</label>
                        <h5 id="eye_color">{{ response?.data?.eye_color }}</h5>
                    </div>
                </div>
            </div>
        </div>

        <sw-sub-section subTitle="Films"/>

        <div class="row">
            <div class="col-md-3" *ngFor="let film of response.data?.films">
                <a
                    [routerLink]="['../../details', film | idReader]"
                    routerLinkActive="router-link-active"
                    >{{ film }}</a
                >
            </div>
        </div>
    </div>
</ng-container>
